RAGFLOW_IMAGE=infiniflow/ragflow:v0.14.1
RAGFLOW_HTTP_PORT=6303
RAGFLOW_HTTP_PORT_SECONDARY=6309
RAGFLOW_MYSQL_PASSWORD=dvlaa-ragflow
RAGFLOW_REDIS_PASSWORD=dvlaa-ragflow
RAGFLOW_MINIO_USER=rag_flow
RAGFLOW_MINIO_PASSWORD=dvlaa-ragflow
RAGFLOW_ELASTIC_PASSWORD=dvlaa-ragflow
LANGFLOW_PASSWORD=DVLAA-Langflow-2026
FLOWISE_PORT=3005
OPEN_WEBUI_PORT=8087
UPSTREAM_PUBLIC_HOST=127.0.0.1
